<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>sftp list</title>
    <link rel="stylesheet" href="/public/css/sftp.css">
</head>
<body>
    <table width="100%">
        <tr>
            <th>name</th>
            <th>size</th>
        </tr>
        
             <%data.forEach(function(item){%>
             <tr>
                 <td><%= item.name%></td>
                 <td><%= item.size%></td>
             </tr>
             <%});%>
    </table>
</body>
</html>